{% load static %}


<!DOCTYPE html>
<html lang="en">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
     <!-- Site Metas -->
    <title>LBA</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="{% static 'main/images/favicon.ico' %}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{% static 'main/images/apple-touch-icon.png' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
    <!-- ALL VERSION CSS -->
       <!-- ALL VERSION CSS -->
       <link rel="stylesheet" href="{% static 'main/css/versions.css' %}">
       <!-- Responsive CSS -->
       <link rel="stylesheet" href="{% static 'main/css/responsive.css' %}">
       <!-- Custom CSS -->
       <link rel="stylesheet" href="{% static 'main/css/custom.css' %}">
   
       <!-- Modernizer for Portfolio -->
       <script src="{% static 'main/js/modernizer.js' %}"></script>

       <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
   
</head>
<body class="host_version"> 

 <!-- Start header -->
 <header class="top-navbar">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html">
        <img style="width:70px; height:70px;" src="{% static 'main/icons/server.png' %}"  alt="" />
      </a>
      <h1 style="color:orange">Load Balancing Algorithm</h1>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-host" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
        <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbars-host">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item "><a class="nav-link" href="{% url 'scheduler_dashboard' %}">Dashboard</a></li>
          <li class="nav-item active"><a class="nav-link" href="{% url 'scheduler_view_task' %}">View Task</a></li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Course </a>
            <div class="dropdown-menu" aria-labelledby="dropdown-a">
              <a class="dropdown-item" href="course-grid-2.html">Course Grid 2 </a>
              <a class="dropdown-item" href="course-grid-3.html">Course Grid 3 </a>
              <a class="dropdown-item" href="course-grid-4.html">Course Grid 4 </a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Blog </a>
            <div class="dropdown-menu" aria-labelledby="dropdown-a">
              <a class="dropdown-item" href="blog.html">Blog </a>
              <a class="dropdown-item" href="blog-single.html">Blog single </a>
            </div>
          </li> -->
          <li class="nav-item "><a class="nav-link" href="{% url 'scheduler_assign_task' %}">Asign Task</a></li>
          <li class="nav-item "><a class="nav-link" href="{% url 'scheduler_manage_vm_resourses' %}">VM Resources</a></li>
          
        </ul>
        <ul class="nav navbar-nav navbar-right">
                      <li><a class="hover-btn-new log orange" type="button" href="{% url 'home' %}"  data-target="#login"><span>Logout</span></a></li>
                  </ul>
      </div>
    </div>
  </nav>
</header>
<!-- End header -->
	
    <div class="all-title-box">
		<div class="container text-center animated slideInDown">
			<h1>View Tasks<span class="m_1"></span></h1>
            <!-- <hr class=" mx-auto mt-0" style="width: 90px;">
                <div class=" justify-content-center">
                    <h5 class=""><a class="text-warning" href="#">Home/Owner/Owner</a></h5>
                </div> -->
           
		</div>
	</div>
	

    <br><br>

        <!-- service start -->
  <main role="main" class="main-content">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-11 ">
         
         
          <div class="row">
            <!-- Striped rows -->
            <div class="col-md-12 my-4 ">
              <div class="card shadow">
                <div class="card-body" style="overflow:auto;">
                  <button style="background-color:#4c5a7d; width:100px; color:white;" class="card-title">Files</button>
                
                  <table class="table  table-hover">
                    <thead style=" color:white;background-color:orange">
                      <tr>
                        <!-- <th>
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="chall">
                            <label class="custom-control-label" for="d1"></label>
                          </div>
                        </th> -->
                        <th>File Id</th>
                        <th>User Id</th>
                        <th>File</th>
                        <th>File Name</th>
                        
                        <th>File Size</th>
                        <th>File Type</th>
                        
                        <th>Description</th>
                        <th>file_uploaded_date</th>
                        <th>file_uploaded_time</th>
                       

                      </tr>
                    </thead>
                    <tbody>
                      {% for h in data %}
                      <tr>
                       
                        <td>{{h.file_id}}</td>
                        <td>{{h.user_id}}</td>
                        <td>{{h.file}}</td>
                        <td>{{h.file_name}}</td>
                        <td>{{h.file_size}}</td>
                        <td>{{h.file_type}}</td>
                       
                        <td>{{h.description}}</td>
                        <td>{{h.file_uploaded_date}}</td>
                        <td>{{h.file_uploaded_time}}</td>
                       

                      </tr>
                    {% endfor %}
                    
                    </tbody>
                  </table>
                </div>
              </div>
            </div> <!-- Striped rows -->
          
          </div> <!-- end section -->
        
      </div> <!-- .row -->
    </div> <!-- .container-fluid -->
    <div class="modal fade modal-notif modal-slide" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="defaultModalLabel">Notifications</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="list-group list-group-flush my-n3">
              <div class="list-group-item bg-transparent">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <span class="fe fe-box fe-24"></span>
                  </div>
                  <div class="col">
                    <small><strong>Package has uploaded successfull</strong></small>
                    <div class="my-0 text-muted small">Package is zipped and uploaded</div>
                    <small class="badge badge-pill badge-light text-muted">1m ago</small>
                  </div>
                </div>
              </div>
              <div class="list-group-item bg-transparent">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <span class="fe fe-download fe-24"></span>
                  </div>
                  <div class="col">
                    <small><strong>Widgets are updated successfull</strong></small>
                    <div class="my-0 text-muted small">Just create new layout Index, form, table</div>
                    <small class="badge badge-pill badge-light text-muted">2m ago</small>
                  </div>
                </div>
              </div>
              <div class="list-group-item bg-transparent">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <span class="fe fe-inbox fe-24"></span>
                  </div>
                  <div class="col">
                    <small><strong>Notifications have been sent</strong></small>
                    <div class="my-0 text-muted small">Fusce dapibus, tellus ac cursus commodo</div>
                    <small class="badge badge-pill badge-light text-muted">30m ago</small>
                  </div>
                </div> <!-- / .row -->
              </div>
              <div class="list-group-item bg-transparent">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <span class="fe fe-link fe-24"></span>
                  </div>
                  <div class="col">
                    <small><strong>Link was attached to menu</strong></small>
                    <div class="my-0 text-muted small">New layout has been attached to the menu</div>
                    <small class="badge badge-pill badge-light text-muted">1h ago</small>
                  </div>
                </div>
              </div> <!-- / .row -->
            </div> <!-- / .list-group -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Clear All</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade modal-shortcut modal-slide" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="defaultModalLabel">Shortcuts</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body px-5">
            <div class="row align-items-center">
              <div class="col-6 text-center">
                <div class="squircle bg-success justify-content-center">
                  <i class="fe fe-cpu fe-32 align-self-center text-white"></i>
                </div>
                <p>Control area</p>
              </div>
              <div class="col-6 text-center">
                <div class="squircle bg-primary justify-content-center">
                  <i class="fe fe-activity fe-32 align-self-center text-white"></i>
                </div>
                <p>Activity</p>
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col-6 text-center">
                <div class="squircle bg-primary justify-content-center">
                  <i class="fe fe-droplet fe-32 align-self-center text-white"></i>
                </div>
                <p>Droplet</p>
              </div>
              <div class="col-6 text-center">
                <div class="squircle bg-primary justify-content-center">
                  <i class="fe fe-upload-cloud fe-32 align-self-center text-white"></i>
                </div>
                <p>Upload</p>
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col-6 text-center">
                <div class="squircle bg-primary justify-content-center">
                  <i class="fe fe-users fe-32 align-self-center text-white"></i>
                </div>
                <p>Users</p>
              </div>
              <div class="col-6 text-center">
                <div class="squircle bg-primary justify-content-center">
                  <i class="fe fe-settings fe-32 align-self-center text-white"></i>
                </div>
                <p>Settings</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <br><br>

  <footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3>About US</h3>
                    </div>
                    <p> Integer rutrum ligula eu dignissim laoreet. Pellentesque venenatis nibh sed tellus faucibus bibendum. Sed fermentum est vitae rhoncus molestie. Cum sociis natoque penatibus et magnis dis montes.</p>   
        <div class="footer-right">
          <ul class="footer-links-soi">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-github"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
          </ul><!-- end links -->
        </div>						
                </div><!-- end clearfix -->
            </div><!-- end col -->

    <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3>Information Link</h3>
                    </div>
                    <ul class="footer-links">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Cloud</a></li>
                        <li><a href="#">User</a></li>
        
          
                    </ul><!-- end links -->
                </div><!-- end clearfix -->
            </div><!-- end col -->
    
            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3>Contact Details</h3>
                    </div>

                    <ul class="footer-links">
                        <p><i class="fa fa-map-marker-alt me-3"></i>L.B Nagar, Hyderabad</p>
                        <p><i class="fa fa-phone-alt me-3"></i>Pin Code:500074. T.S.</p>
                        <p><i class="fa fa-phone-alt me-3"></i>8555887986</p>
                        <p><i class="fa fa- me-3"></i>info@codebook.in</p>
                    </ul><!-- end links -->
                </div><!-- end clearfix -->
            </div><!-- end col -->
    
        </div><!-- end row -->
    </div><!-- end container -->
</footer><!-- end footer -->

<div class="copyrights">
    <div class="container">
        <div class="footer-distributed">
            <div class="footer-center">                   
                <p class="footer-company-name">>Copyright © 2022, All rights reserved | <a href="#"></a> Designed & Developed by : <a href="#"> FZ INFOTECH</a></p>
            </div>
        </div>
    </div><!-- end container -->
</div><!-- end copyrights -->

<a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

<!-- ALL JS FILES -->
<script src="{% static 'main/js/all.js' %}"></script>
<!-- ALL PLUGINS -->
<script src="{% static 'main/js/custom.js' %}"></script>
<script src="{% static 'main/js/timeline.min.js' %}"></script>
<script>
timeline(document.querySelectorAll('.timeline'), {
  forceVerticalMode: 700,
  mode: 'horizontal',
  verticalStartPosition: 'left',
  visibleItems: 4
});
</script>
</body>
</html>