{% load static %}


<!DOCTYPE html>
<html lang="en">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
     <!-- Site Metas -->
    <title>LBA</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="{% static 'main/images/favicon.ico' %}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{% static 'main/images/apple-touch-icon.png' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
    <!-- ALL VERSION CSS -->
       <!-- ALL VERSION CSS -->
       <link rel="stylesheet" href="{% static 'main/css/versions.css' %}">
       <!-- Responsive CSS -->
       <link rel="stylesheet" href="{% static 'main/css/responsive.css' %}">
       <!-- Custom CSS -->
       <link rel="stylesheet" href="{% static 'main/css/custom.css' %}">
   
       <!-- Modernizer for Portfolio -->
       <script src="{% static 'main/js/modernizer.js' %}"></script>
	   <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body class="host_version"> 

	<!-- Modal -->

    <!-- LOADER -->
	<div id="preloader">
		<div class="loader-container">
			<div class="progress-br float shadow">
				<div class="progress__item"></div>
			</div>
		</div>
	</div>
	<!-- END LOADER -->	
 <!-- Start header -->
 <header class="top-navbar">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <div class="container-fluid">
		<a class="navbar-brand" href="index.html">
			<img style="width:70px; height:70px;" src="{% static 'main/icons/server.png' %}"  alt="" />
		</a>
		<h1 style="color:orange">Load Balancing Algorithm</h1>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-host" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbars-host">
		  <ul class="navbar-nav ml-auto">
			<li class="nav-item active"><a class="nav-link" href="{% url 'scheduler_dashboard' %}">Dashboard</a></li>
			<li class="nav-item "><a class="nav-link" href="{% url 'scheduler_view_task' %}">View Task</a></li>
			<!-- <li class="nav-item dropdown">
			  <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Course </a>
			  <div class="dropdown-menu" aria-labelledby="dropdown-a">
				<a class="dropdown-item" href="course-grid-2.html">Course Grid 2 </a>
				<a class="dropdown-item" href="course-grid-3.html">Course Grid 3 </a>
				<a class="dropdown-item" href="course-grid-4.html">Course Grid 4 </a>
			  </div>
			</li>
			<li class="nav-item dropdown">
			  <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Blog </a>
			  <div class="dropdown-menu" aria-labelledby="dropdown-a">
				<a class="dropdown-item" href="blog.html">Blog </a>
				<a class="dropdown-item" href="blog-single.html">Blog single </a>
			  </div>
			</li> -->
			<li class="nav-item "><a class="nav-link" href="{% url 'scheduler_assign_task' %}">Asign Task</a></li>
			<li class="nav-item "><a class="nav-link" href="{% url 'scheduler_manage_vm_resourses' %}">VM Resources</a></li>
			
		  </ul>
		  <ul class="nav navbar-nav navbar-right">
						<li><a class="hover-btn-new log orange" type="button" href="{% url 'home' %}"  data-target="#login"><span>Logout</span></a></li>
					</ul>
		</div>
	  </div>
	</nav>
  </header>
  <!-- End header -->
	
    <div class="all-title-box">
		<div class="container text-center animated slideInDown">
			<h1>User Dashboard<span class="m_1"></span></h1>
            <!-- <hr class=" mx-auto mt-0" style="width: 90px;">
                <div class=" justify-content-center">
                    <h5 class=""><a class="text-warning" href="#">Home/Owner/Owner</a></h5>
                </div> -->
           
		</div>
	</div>
	
	{% if messages %}              
	{% for message in messages %}
	  {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
		  <script>swal({
			title: "Error",
			text: "{{message}}",
			icon: "warning",
			button: "OK",
		  });
		</script>
		
	  {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
		  <script>swal({
			title: "Success :)",
			text: "{{message}}",
			icon: "success",
			button: "OK",
		  });
		</script>
	  {% endif %}              
	{% endfor %} 
  {% endif %}
   

	
  <div id="teachers" class="section wb">
	<div class="container">
		<div class="row">


			
			<div class="col-lg-4 col-md-6 col-12  wow fadeInUp" data-wow-delay="0.5s">
				<div class="our-team">
					<div class="team-img">
						<img style="width:100px; height:100px" src="{% static 'main/icons/server (1).png' %}" alt="">
						<div class="social">
							<ul>
								<img style="width:50px; height:50px" src="{% static 'main/icons/server (1).png' %}" alt="">
							</ul>
						</div>
					</div>
					<div class="team-content">
						
						<span class="post">Total</span>
						<h3 class="title">Virtual Missions</h3>
						<h2 class="title">{{vm}}</h2>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-delay="0.1s">
				<div class="our-team">
					<div class="team-img">
						<img style="width:100px; height:100px" src="{% static 'main/icons/social.png' %}" alt="">
						<div class="social">
							<ul>
								<img style="width:50px; height:50px" src="{% static 'main/icons/social.png' %}" alt="">
							</ul>
						</div>
					</div>
					<div class="team-content">
						
						<span class="post">Total</span>
						<h3 class="title">Users</h3>

						<h2 class="title">{{users}}</h2>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-12  wow fadeInUp" data-wow-delay="0.3s">
				<div class="our-team">
					<div class="team-img">
						<img style="width:100px; height:100px" src="{% static 'main/icons/upload (6).png' %}" alt="">
						<div class="social">
							<ul>
								<img style="width:50px; height:50px" src="{% static 'main/icons/upload (6).png' %}" alt="">
							</ul>
						</div>
					</div>
					<div class="team-content">
						
						<span class="post">Total</span>
						<h3 class="title">Uploaded Files</h3>
						<h2 class="title">{{uploads}}</h2>
					</div>
				</div>
			</div>






			<div class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-delay="0.1s">
				<div class="our-team">
					<div class="team-img">
						<img style="width:100px; height:100px" src="{% static 'main/icons/task.png' %}" alt="">
						<div class="social">
							<ul>
								<img style="width:50px; height:50px" src="{% static 'main/icons/task.png' %}" alt="">
							</ul>
						</div>
					</div>
					<div class="team-content">
						
						<span class="post">Total</span>
						<h3 class="title">Tasks</h3>

						<h2 class="title">{{uploads}}</h2>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-12  wow fadeInUp" data-wow-delay="0.3s">
				<div class="our-team">
					<div class="team-img">
						<img style="width:100px; height:100px" src="{% static 'main/icons/clock.png' %}" alt="">
						<div class="social">
							<ul>
								<img style="width:50px; height:50px" src="{% static 'main/icons/clock.png' %}" alt="">
							</ul>
						</div>
					</div>
					<div class="team-content">
						
						<span class="post">Total</span>
						<h3 class="title">Pending Tasks</h3>
						<h2 class="title">{{pendings}}</h2>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-12  wow fadeInUp" data-wow-delay="0.5s">
				<div class="our-team">
					<div class="team-img">
						<img style="width:100px; height:100px" src="{% static 'main/icons/data-transfer.png' %}" alt="">
						<div class="social">
							<ul>
								<img style="width:50px; height:50px" src="{% static 'main/icons/data-transfer.png' %}" alt="">
							</ul>
						</div>
					</div>
					<div class="team-content">
						
						<span class="post">Total</span>
						<h3 class="title">Assigned Tasks</h3>
						<h2 class="title">{{requests}}</h2>
					</div>
				</div>
			</div>

			
		
		</div><!-- end row -->
	</div><!-- end container -->
</div><!-- end section -->	



<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-xs-12">
				<div class="widget clearfix">
					<div class="widget-title">
						<h3>About US</h3>
					</div>
					<p> Integer rutrum ligula eu dignissim laoreet. Pellentesque venenatis nibh sed tellus faucibus bibendum. Sed fermentum est vitae rhoncus molestie. Cum sociis natoque penatibus et magnis dis montes.</p>   
					<div class="footer-right">
						<ul class="footer-links-soi">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-github"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
							<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
						</ul><!-- end links -->
					</div>						
				</div><!-- end clearfix -->
			</div><!-- end col -->

			<div class="col-lg-4 col-md-4 col-xs-12">
				<div class="widget clearfix">
					<div class="widget-title">
						<h3>Information Link</h3>
					</div>
					<ul class="footer-links">
						<li><a href="#">Home</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Cloud</a></li>
						<li><a href="#">User</a></li>
					
						
					</ul><!-- end links -->
				</div><!-- end clearfix -->
			</div><!-- end col -->
			
			<div class="col-lg-4 col-md-4 col-xs-12">
				<div class="widget clearfix">
					<div class="widget-title">
						<h3>Contact Details</h3>
					</div>

					<ul class="footer-links">
						<p><i class="fa fa-map-marker-alt me-3"></i>L.B Nagar, Hyderabad</p>
						<p><i class="fa fa-phone-alt me-3"></i>Pin Code:500074. T.S.</p>
						<p><i class="fa fa-phone-alt me-3"></i>8555887986</p>
						<p><i class="fa fa- me-3"></i>info@codebook.in</p>
					</ul><!-- end links -->
				</div><!-- end clearfix -->
			</div><!-- end col -->
			
		</div><!-- end row -->
	</div><!-- end container -->
</footer><!-- end footer -->

<div class="copyrights">
	<div class="container">
		<div class="footer-distributed">
			<div class="footer-center">                   
				<p class="footer-company-name">>Copyright © 2022, All rights reserved | <a href="#"></a> Designed & Developed by : <a href="#"> FZ INFOTECH</a></p>
			</div>
		</div>
	</div><!-- end container -->
</div><!-- end copyrights -->

<a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

<!-- ALL JS FILES -->
<script src="{% static 'main/js/all.js' %}"></script>
<!-- ALL PLUGINS -->
<script src="{% static 'main/js/custom.js' %}"></script>
<script src="{% static 'main/js/timeline.min.js' %}"></script>
<script>
	timeline(document.querySelectorAll('.timeline'), {
		forceVerticalMode: 700,
		mode: 'horizontal',
		verticalStartPosition: 'left',
		visibleItems: 4
	});
</script>
</body>
</html>